---
import UnauthenticatedLayout from '../../app/UnauthenticatedLayout.astro';
import FormProfileLock from '../../modules/FormProfileLock.astro';
---

<UnauthenticatedLayout>
	<div class="min-h-screen align-middle flex pb-[12vh]">
		<FormProfileLock />
	</div>
</UnauthenticatedLayout>
