---
import UnauthenticatedLayout from '../../app/UnauthenticatedLayout.astro';
import FormSignIn from '../../modules/FormSignIn.astro';
---

<UnauthenticatedLayout>
	<div class="min-h-screen align-middle flex pb-[12vh]">
		<FormSignIn />
	</div>
</UnauthenticatedLayout>
