---
import UnauthenticatedLayout from '../../app/UnauthenticatedLayout.astro';
import FormSignUp from '../../modules/FormSignUp.astro';
---

<UnauthenticatedLayout>
	<div class="min-h-screen align-middle flex pb-[12vh]">
		<FormSignUp />
	</div>
</UnauthenticatedLayout>
