---
---

<div class="p-2 block max-w-full overflow-y-hidden">
	<div
		class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800"
	>
		<div class="items-center justify-between lg:flex">
			<div class="mb-4 lg:mb-0">
				<h3 class="mb-2 text-xl font-bold text-gray-900 dark:text-white">
					Transactions
				</h3>
				<span class="text-base font-normal text-gray-500 dark:text-gray-400">
					This is a list of latest transactions
				</span>
			</div>
		</div>

		<slot />
	</div>
</div>
